


body {
    margin: 5;
    padding: 5;
}

main{
    padding-top: 16px;
}

a{
    color:darkgreen;
    text-decoration: none;
}

h1{
    color:darkgreen;
}

footer{
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 22px;
    background-color: rgb(6, 241, 41);
    color: rgb(12, 12, 12);
}

nav{
    height: 40px;
    border-top:rgb(0, 17, 255) 2px solid;
    border-bottom: rgb(0, 17, 255) 2px solid ;
    padding-top: 16;
    background-color: rgb(117, 1, 1);
    color:rgb(23, 216, 103);
    font-size: 18px;
}

.food-item{
    background-color: darkslategray;
}
li{
    border: 1px solid darkslategray;
}


.container-with-grid {
    display: grid;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 65px;
}
